<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/head %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Teamwork API</h1>
            <p>Teamwork is an internal social network for employees of an organization. The goal of this application is to facilitate more interaction between colleagues and promote team bonding.</p>
            <p> <a href="https://documenter.getpostman.com/view/9048286/SW7W4p94?version=latest"> View documentation for Teamwork Backend API </a> built by Oluwamayowa Fadairo</p>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>